<ng-datagrid #grid [data]="data()" [height]="400">
  <ng-template ngDatagridToolbarTemplate>
    <button (click)="grid.addRow(createFormGroup({}))">Add</button>
  </ng-template>

  <ng-datagrid-column title="ID" field="ProductID" [editable]="false" [width]="200"></ng-datagrid-column>
  <ng-datagrid-column title="Name" field="ProductName" [width]="200"></ng-datagrid-column>
  <ng-datagrid-column title="Category Name" field="Category.CategoryName" [width]="200"></ng-datagrid-column>
  <ng-datagrid-column title="Price" field="UnitPrice" [width]="200"></ng-datagrid-column>
  <ng-datagrid-column title="Stock" field="UnitsInStock" [width]="200">
    <ng-template ngDatagridCellTemplate let-dataItem>
      {{ dataItem.UnitsInStock }} Piece
    </ng-template>
    <ng-template ngDatagridEditTemplate let-formGroup>
      <input type="number" [formControl]="formGroup.get('UnitsInStock')"/>
    </ng-template>
    <ng-template ngDatagridFooterTemplate>
      {{ stockTotal() }}
    </ng-template>
  </ng-datagrid-column>
  <ng-datagrid-column [width]="150">
    <ng-template ngDatagridCellTemplate let-rowIndex="rowIndex" let-item>
      <button (click)="grid.editRow(rowIndex, createFormGroup(item))">Edit</button>
      <button (click)="remove(rowIndex)">Remove</button>
    </ng-template>
    <ng-template ngDatagridEditTemplate let-formGroup let-rowIndex="rowIndex" let-isNew="isNew">
      <button (click)="save(formGroup, isNew, rowIndex)">Save</button>
      <button (click)="grid.closeRow(rowIndex)">Cancel</button>
    </ng-template>
  </ng-datagrid-column>
</ng-datagrid>
