/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
::-webkit-scrollbar {
  width: .4em;
  height: .4em
}
::-webkit-scrollbar-button {
  background: #ccc;
  display: none;
}
::-webkit-scrollbar-track-piece {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: #0e0e0e;
}
